body,
ol,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p,
th,
td,
dl,
dd,
form,
fieldset,
legend,
input,
textarea,
select {
  margin: 0;
  padding: 0;
}
body {
  font: 12px "宋体", "Arial Narrow", HELVETICA;
  background: #fff;
  -webkit-text-size-adjust: 100%;
}
a {
  color: #fff;
  text-decoration: none;
}
a:hover {
  color: #fff;
}
em {
  font-style: normal;
}
li {
  list-style: none;
}
img {
  border: 0;
  vertical-align: middle;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
p {
  word-wrap: break-word;
}
.w {
  margin: 0 auto;
  width: 960px;
  height: 100%;
}
.a {
  margin: 0 auto;
}
.f {
  width: 100%;
}
.clearfix {
  zoom: 1;
}
/*==for IE6/7 Maxthon2==*/
.clearfix :after {
  clear: both;
  content: '.';
  display: block;
  width: 0;
  height: 0;
  visibility: hidden;
}
.ico {
  height: 768px;
  border-bottom: 1px solid #ccc;
}
.ico .w {
  height: 100%;
  position: relative;
}
.ico .w .w-img {
  position: absolute;
  top: 138px;
  left: 24px;
}
.ico .w .info {
  position: absolute;
  top: 238px;
  right: 12px;
  width: 447px;
}
.ico .w .info .title {
  font-size: 48px;
}
.ico .w .info .ct {
  font-size: 18px;
  margin-top: 4px;
  letter-spacing: 1px;
  line-height: 30px;
}
.ico .w .dlBtn {
  margin-top: 66px;
}
