body,
ol,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p,
th,
td,
dl,
dd,
form,
fieldset,
legend,
input,
textarea,
select {
  margin: 0;
  padding: 0;
}
body {
  font: 12px "宋体", "Arial Narrow", HELVETICA;
  background: #fff;
  -webkit-text-size-adjust: 100%;
}
a {
  color: #fff;
  text-decoration: none;
}
a:hover {
  color: #fff;
}
em {
  font-style: normal;
}
li {
  list-style: none;
}
img {
  border: 0;
  vertical-align: middle;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
p {
  word-wrap: break-word;
}
.w {
  margin: 0 auto;
  width: 960px;
  height: 100%;
}
.a {
  margin: 0 auto;
}
.f {
  width: 100%;
}
.clearfix {
  zoom: 1;
}
/*==for IE6/7 Maxthon2==*/
.clearfix :after {
  clear: both;
  content: '.';
  display: block;
  width: 0;
  height: 0;
  visibility: hidden;
}
.section {
  height: 100% !important;
  overflow: hidden;
}
#section0 #canvas {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, #3e23ff 0%, #ff2362 100%);
}
#section0 .canvas-content {
  width: 100%;
  height: 100%;
  padding-top: 0;
  position: relative;
}
#section0 .canvas-content .nav1 {
  height: 100px;
  margin: 0 auto;
  line-height: 100px;
  text-align: center;
  display: inline-block;
  background: url(http://ic.game.com/img/index_img/icon-nav.png) no-repeat;
  background-position-x: 14px;
  background-position-y: 48px;
  transition: all 1s;
}
#section0 .canvas-content .nav1 li {
  text-align: center;
  display: inline-block;
  width: 80px;
  float: left;
}
#section0 .canvas-content .nav1 li a {
  width: 100%;
  height: 100%;
  display: block;
  color: #fff;
  font-weight: 300;
  font-size: 12px;
}
#section0 .canvas-content .nav1 li a:hover {
  background-color: transparent;
}
#section0 .canvas-content .nav1 li a img {
  margin-bottom: 10px;
}
#section0 .canvas-content .nav1 li a:hover {
  text-decoration: none;
}
#section0 .canvas-content .nav1 .logo {
  width: 98px;
}
#section0 .canvas-content p {
  font-size: 48px;
  margin-top: 30px;
  position: relative;
  font-weight: 500;
  text-shadow: 1px 0 10px white;
}
#section0 .canvas-content p .line {
  width: 80px;
  height: 3px;
  background-color: #fff;
  position: absolute;
  left: 50%;
  margin-left: -40px;
  bottom: -14px;
}
#section0 .canvas-content .buy ul {
  text-align: center;
  display: inline-block;
  margin-top: 54px;
}
#section0 .canvas-content .buy ul li {
  text-align: center;
  width: 72px;
  height: 23px;
  line-height: 23px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.1);
  float: left;
  font-size: 12px;
  margin-right: 6px;
  display: inline-block;
  cursor: pointer;
  font-weight: lighter;
}
#section0 .canvas-content .buy ul li:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
#section0 .canvas-content .buy ul li.active {
  background-color: white;
  color: #5C84EE;
}
#section0 .canvas-content .time ul {
  display: inline-block;
  text-align: center;
  margin-left: 12px;
}
#section0 .canvas-content .time ul li {
  display: inline-block;
  text-align: center;
  float: left;
  margin-right: 25px;
}
#section0 .canvas-content .time ul li .t {
  font-size: 48px;
}
#section0 .canvas-content .time ul li .text {
  font-size: 12px;
  margin-top: 4px;
  font-weight: lighter;
}
#section0 .canvas-content .dur {
  font-size: 12px;
  margin-top: 30px;
  font-weight: lighter;
}
#section0 .canvas-content .buyBtn {
  width: 160px;
  height: 48px;
  border-radius: 24px;
  background-color: #FF0850;
  font-size: 24px;
  text-align: center;
  line-height: 48px;
  font-weight: 200;
  cursor: pointer;
  margin: 20px auto 0 auto;
  box-shadow: 0 4px 8px 0 rgba(255, 0, 74, 0.4);
}
#section0 .canvas-content .share {
  overflow: hidden;
  display: inline-block;
  padding-top: 3%;
}
#section0 .canvas-content .share a {
  margin-left: 8px;
  margin-right: 8px;
}
#section1 {
  background-image: url(http://ic.game.com/img/index_img/img2.jpg);
  -webkit-background-size: cover;
  background-size: cover;
}
#section1 .w {
  position: relative;
  height: 100%;
}
#section1 .w .p2-t {
  position: absolute;
  top: 271px;
}
#section1 .w .p2-t .url {
  font-size: 64px;
  font-weight: 500;
}
#section1 .w .p2-t .info {
  margin-top: 16px;
  font-size: 36px;
  font-weight: 500;
}
#section1 .w .round {
  width: 550px;
  height: 550px;
  position: absolute;
  left: 425px;
  top: 95px;
}
#section1 .w .round .quanB {
  position: absolute;
}
#section1 .w .round .quanB .r6 {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -85px;
  margin-left: -85px;
}
#section1 .w .round .quanB .quanS {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -79px;
  margin-left: -79px;
}
#section1 .w .round .quanB .qB {
  animation: zhuan 30s infinite linear;
}
#section1 .w .round .quanB .qS {
  animation: zhuan2 10s infinite linear;
}
#section1 .w .round a {
  position: absolute;
  z-index: 2;
  text-align: center;
}
#section1 .w .round a p {
  color: #fff;
  position: absolute;
  font-size: 12px;
  left: 50%;
  transform: translateX(-50%);
  width: 120px;
  font-weight: 200;
}
#section1 .w .round .r1 {
  top: -60px;
  left: 180px;
}
#section1 .w .round .r2 {
  top: 160px;
  right: 10px;
}
#section1 .w .round .r3 {
  right: 115px;
  bottom: 65px;
}
#section1 .w .round .r4 {
  bottom: 65px;
  left: 40px;
}
#section1 .w .round .r5 {
  top: 169px;
  left: -48px;
}
#section2 {
  background-image: url(http://ic.game.com/img/index_img/img3.jpg);
  background-size: cover;
}
#section2 .w {
  height: 100%;
  position: relative;
}
#section2 .w .detail {
  width: 100%;
  height: 100%;
}
#section2 .w .detail .logo {
  position: absolute;
  left: 177px;
  top: 300px;
  transform: translateX(-50%) translateY(-50%);
}
#section2 .w .detail .url {
  font-size: 30px;
  color: #14D6FD;
  position: absolute;
  top: 110px;
  left: 400px;
}
#section2 .w .detail .url .line {
  width: 40px;
  height: 6px;
  background-color: #14D6FD;
  position: absolute;
  bottom: -10px;
}
#section2 .w .detail .title {
  position: absolute;
  font-size: 48px;
  left: 400px;
  top: 188px;
}
#section2 .w .detail .info {
  position: absolute;
  font-size: 22px;
  left: 400px;
  top: 283px;
  font-weight: 200;
}
#section2 .w .list {
  position: absolute;
  left: 283px;
  top: 552px;
}
#section2 .w .list div {
  transition: all 0.7s;
  margin-right: 56px;
  float: left;
  cursor: pointer;
}
#section2 .w .list div:hover {
  transform: scale(1.6);
}
#section3 {
  background-color: #212124;
}
#section3 .w {
  position: relative;
  margin-top: -20px;
}
#section3 .w .title {
  font-size: 48px;
  top: 58px;
  font-weight: 500;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
#section3 .w .info1 {
  font-size: 20px;
  top: 150px;
  display: inline-block;
  font-weight: 100;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 800px;
}
#section3 .w .info2 {
  font-size: 20px;
  top: 188px;
  font-weight: 100;
  display: inline-block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 609px;
}
#section3 .w .coin {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 247px;
}
#section3 .w .coin .b {
  position: absolute;
}
#section3 .w .coin .b1 {
  top: 42px;
  left: -20px;
  animation: bling 0.5s 0.15s infinite alternate;
}
#section3 .w .coin .b2 {
  top: 133px;
  left: 12px;
  animation: bling 0.5s 0.3s infinite alternate;
}
#section3 .w .coin .b3 {
  left: 19px;
  top: 168px;
  animation: bling 0.5s 0.45s infinite alternate;
}
#section3 .w .coin .b4 {
  top: 63px;
  left: 17px;
  animation: bling 0.5s 0.6s infinite alternate;
}
#section3 .w .coin .b5 {
  top: 211px;
  left: 35px;
  animation: bling 0.5s 0.75s infinite alternate;
}
#section3 .w .coin .b6 {
  left: 55px;
  top: 42px;
  animation: bling 0.5s 0.9s infinite alternate;
}
#section3 .w .coin .b7 {
  left: 210px;
  top: 75px;
  animation: bling 0.5s 1.05s infinite alternate;
}
#section3 .w .coin .b8 {
  top: 132px;
  left: 222px;
  animation: bling 0.5s 1.2s infinite alternate;
}
#section3 .w .coin .b9 {
  top: 194px;
  left: 284px;
  animation: bling 0.5s 1.35s infinite alternate;
}
#section3 .w .info3 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 539px;
  font-size: 23px;
  color: #FED006;
  font-weight: 500;
}
#section3 .w .info4 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
  top: 583px;
  text-align: center;
  color: #ccc;
  font-weight: 100;
  width: 537px;
}
#section4 {
  background-color: #212124;
}
#section4 .w {
  position: relative;
  margin-top: -70px;
}
#section4 .w .title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 69px;
  font-size: 48px;
}
#section4 .w .charts {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 910px;
  height: 482px;
  top: 136px;
  background-image: url(http://ic.game.com/img/table/tb.png);
  background-size: cover;
}
#section4 .w .charts .tc {
  position: absolute;
  height: 420px;
  width: 100%;
  top: 17px;
  overflow: hidden;
}
#section4 .w .charts .tc img {
  position: absolute;
}
#section4 .w .charts .tc img:nth-child(1) {
  left: 47px;
  bottom: -389px;
}
#section4 .w .charts .tc img:nth-child(2) {
  left: 127px;
  bottom: -299px;
}
#section4 .w .charts .tc img:nth-child(3) {
  left: 209px;
  bottom: -189px;
}
#section4 .w .charts .tc img:nth-child(4) {
  left: 290px;
  bottom: -104px;
}
#section4 .w .charts .tc img:nth-child(5) {
  left: 371px;
  bottom: -59px;
}
#section4 .w .charts .tc img:nth-child(6) {
  left: 478px;
  bottom: -69px;
}
#section4 .w .charts .tc img:nth-child(7) {
  left: 558px;
  bottom: -104px;
}
#section4 .w .charts .tc img:nth-child(8) {
  left: 638px;
  bottom: -204px;
}
#section4 .w .charts .tc img:nth-child(9) {
  left: 720px;
  bottom: -299px;
}
#section4 .w .charts .tc img:nth-child(10) {
  left: 802px;
  bottom: -389px;
}
#section4 .w .info {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 630px;
  font-size: 12px;
  color: #ccc;
  font-weight: 100;
  text-align: center;
  width: 500px;
}
#section4 .next {
  margin-top: 35px;
}
#section5 {
  position: relative;
  background: url("http://ic.game.com/img/index_img/img4.jpg");
  background-size: cover;
}
#section5 .w {
  position: relative;
}
#section5 .w .title {
  font-size: 56px;
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  margin-top: -25px;
}
#section5 .w .info {
  font-size: 18px;
  text-align: center;
  width: 842px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 154px;
  font-weight: 100;
}
#section5 .w .url {
  font-size: 28px;
  letter-spacing: 2.79px;
  position: absolute;
  top: 253px;
  left: 50%;
  transform: translateX(-50%);
}
#section5 .w .line {
  position: absolute;
  top: 283px;
  left: 50%;
  transform: translateX(-50%);
}
#section5 .route {
  height: 200px;
  position: absolute;
  top: 360px;
}
#section5 .route .wl {
  position: absolute;
  top: 100px;
  overflow: hidden;
  width: 0;
}
#section5 .route .stT {
  display: none;
  position: absolute;
  top: -2px;
}
#section5 .route .stT img {
  position: absolute;
}
#section5 .route .stT .info1 {
  position: absolute;
  font-size: 18px;
  left: 18px;
  top: 24px;
}
#section5 .route .stT .info2 {
  font-size: 18px;
  position: absolute;
  left: 18px;
  top: 50px;
  width: max-content;
}
#section5 .route .stB {
  display: none;
  position: absolute;
  left: 100px;
  top: 136px;
}
#section5 .route .stB img {
  position: absolute;
}
#section5 .route .stB .info1 {
  position: absolute;
  font-size: 18px;
  left: 18px;
  top: 80px;
  font-family: "Lucida Grande" !important;
}
#section5 .route .stB .info2 {
  font-size: 18px;
  position: absolute;
  left: 18px;
  top: 104px;
  width: max-content;
}
#section5 .route .st1 {
  left: 80px;
}
#section5 .route .st1 .info2 {
  color: #82D5BE;
  width: 72px;
}
#section5 .route .st2 {
  left: 100px;
}
#section5 .route .st2 .info2 {
  color: #84DBBD;
  width: 176px;
}
#section5 .route .st3 {
  left: 256px;
}
#section5 .route .st3 .info2 {
  color: #82D5CB;
  width: 122px;
}
#section5 .route .st4 {
  left: 350px;
}
#section5 .route .st4 .info2 {
  color: #77CCD3;
  width: 344px;
}
#section5 .route .st5 {
  left: 490px;
}
#section5 .route .st5 .info2 {
  color: #75B9E1;
  width: 234px;
}
#section5 .route .st6 {
  left: 808px;
}
#section5 .route .st6 .info2 {
  color: #8786C8;
  width: 266px;
}
#section5 .route .st7 {
  left: 1061px;
  top: -29px;
}
#section5 .route .st7 .info2 {
  color: #C26BE6;
  width: 266px;
}
#section6 {
  background-image: linear-gradient(45deg, #3533E8 0%, #27ADFF 100%);
}
#section6 .w {
  position: relative;
  width: 787px;
  height: 100%;
  padding-bottom: 10px;
  margin-top: -70px;
}
#section6 .w .title {
  position: absolute;
  font-size: 48px;
  top: 81px;
  width: 100%;
  text-align: center;
}
#section6 .w .sel > div {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 1px solid white;
  font-weight: 200;
  position: absolute;
  top: 187px;
  cursor: pointer;
  transition: all 0.4s;
}
#section6 .w .sel > div.active {
  background: #fff;
  color: #3C74F4;
}
#section6 .w .sel > div.active .no {
  font-size: 20px;
  position: absolute;
  top: 16px;
  left: 50%;
  transform: translateX(-50%);
}
#section6 .w .sel > div.active .time {
  position: absolute;
  font-size: 14px;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
}
#section6 .w .sel > div.active .line {
  position: absolute;
  top: 46px;
  width: 24px;
  height: 4px;
  background-color: #3C74F4;
  left: 50%;
  transform: translateX(-50%);
}
#section6 .w .sel > div.sil .no {
  font-size: 20px;
  position: absolute;
  top: 16px;
  left: 50%;
  transform: translateX(-50%);
}
#section6 .w .sel > div.sil .time {
  position: absolute;
  font-size: 14px;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
}
#section6 .w .sel > div.sil .line {
  position: absolute;
  width: 24px;
  height: 4px;
  top: 46px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
}
#section6 .w .sel > div.sil:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
#section6 .w .sel .sel1 {
  left: 80px;
}
#section6 .w .sel .sel2 {
  left: 333px;
}
#section6 .w .sel .sel3 {
  left: 586px;
}
#section6 .w .line1 {
  position: absolute;
  width: 133px;
  height: 1px;
  background-color: #fff;
  left: 201px;
  top: 247px;
}
#section6 .w .line2 {
  position: absolute;
  width: 133px;
  height: 1px;
  background-color: #fff;
  left: 455px;
  top: 247px;
}
#section6 .w .container {
  position: absolute;
  width: 100%;
  background-color: #fff;
  border-radius: 8px;
  top: 347px;
  box-shadow: 0 6px 14px transparent;
  font-weight: 200;
  transition: all 1s;
  height: 128px;
  overflow: hidden;
}
#section6 .w .container .text {
  width: 100%;
  height: 100%;
  padding-left: 30px;
  padding-right: 42px;
  box-sizing: border-box;
}
#section6 .w .container .text div {
  display: none;
}
#section6 .w .container .text .title1 {
  margin-top: 20px;
  margin-bottom: 12px;
  line-height: 28px;
  font-size: 20px;
  color: #5161A2;
}
#section6 .w .container .text .info {
  font-size: 14px;
  line-height: 24px;
  color: #69728E;
}
#section6 .w .container .text .li {
  font-size: 14px;
  line-height: 24px;
  color: #69728E;
  margin-left: 17px;
  margin-top: 10px;
}
#section6 .w .container .text .li li {
  list-style: square outside url("http://ic.game.com/img/whitepage/dot.png");
}
#section6 .w .container .t1 div {
  display: block;
}
#section6 .w .tri {
  width: 30px;
  height: 30px;
  background-color: #fff;
  position: absolute;
  transform: rotate(45deg);
  transition: all 1s;
  top: 332px;
  left: 123px;
}
#section6 .w .fu {
  font-size: 14px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 646px;
  width: 696px;
  font-weight: 200;
}
#section7 {
  background-color: #fff;
}
#section7 .tableCell {
  vertical-align: top;
}
#section7 .tableCell .w {
  position: relative;
  background: url(http://ic.game.com/img/whitepage/bg.jpg) no-repeat;
  background-size: cover;
  height: 596px;
  width: 928px;
  margin-top: 45px;
}
#section7 .tableCell .w .title {
  position: absolute;
  font-size: 48px;
  left: 74px;
  top: 161px;
  line-height: 67px;
  font-weight: 500;
}
#section7 .tableCell .w .info {
  font-weight: 100;
  position: absolute;
  left: 74px;
  top: 232px;
  font-size: 14px;
  width: 425px;
  line-height: 30px;
}
#section7 .tableCell .w .btn {
  font-weight: 200;
  position: absolute;
  width: 160px;
  height: 48px;
  border-radius: 24px;
  background-color: #FF0850;
  box-shadow: 0 1px 0px #FF5886;
  font-size: 24px;
  text-align: center;
  line-height: 48px;
  left: 74px;
  top: 418px;
}
#section8 {
  background-color: #fff;
}
#section8 .w {
  position: relative;
}
#section8 .w .info1 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 41px;
  font-weight: 200;
  color: #A8ACB9;
  font-size: 12px;
}
#section8 .w .info2 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 48px;
  color: #333;
  top: 73px;
  font-weight: 600;
}
#section8 .w .abU {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 175px;
  width: 100%;
  height: 467px;
}
#section8 .w .abU ul {
  width: 100%;
  height: 100%;
}
#section8 .w .abU ul li {
  float: left;
  margin-right: 50px;
  width: 200px;
  height: 467px;
  position: relative;
}
#section8 .w .abU ul li div {
  width: 200px;
  height: 467px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
#section8 .w .abU ul li .i2 {
  font-size: 16px;
  top: 274px;
  color: #4F5362;
  text-align: center;
}
#section8 .w .abU ul li .i3 {
  font-size: 12px;
  color: #333333;
  top: 304px;
  font-weight: 100;
  text-align: center;
}
#section8 .w .abU ul li .i4 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  font-size: 12px;
  line-height: 24px;
  text-align: center;
  top: 347px;
  color: #333;
  font-weight: 200;
}
#section8 .w .abU ul li:last-child {
  margin-right: 0;
}
#section9 {
  background-color: #F5F5F5;
}
#section9 .info1 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 48px;
  top: 25px;
  color: #333333;
}
#section9 .info {
  font-size: 14px;
  color: #666;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 127px;
  font-weight: 200;
  vertical-align: baseline;
}
#section9 .info span {
  font-weight: 500;
  font-size: 24px;
  vertical-align: baseline;
  color: #333333;
}
#section9 .info2 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 242px;
}
#section9 .info2 .t {
  position: absolute;
  display: none;
}
#section9 .info2 .t1 {
  top: 84px;
  left: -160px;
}
#section9 .info2 .t2 {
  left: 247px;
  top: -16px;
}
#section9 .info2 .t3 {
  left: 341px;
  top: 94px;
}
#section9 .info2 .t4 {
  left: 289px;
  top: 287px;
}
#section9 .info3 {
  font-size: 24px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #333;
  top: 622px;
  font-weight: 200;
}
#section10 {
  background-color: #F5F5F5;
}
#section10 .info1 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 48px;
  top: 60px;
  color: #333333;
}
#section10 .info2 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #333333;
  top: 240px;
  height: 397px;
  width: 830px;
}
#section10 .info2 > div {
  position: absolute;
  width: 363px;
  height: 130px;
}
#section10 .info2 > div .line {
  position: absolute;
  width: 28px;
  height: 6px;
}
#section10 .info2 > div .t1 {
  position: absolute;
  font-size: 20px;
  top: 26px;
  width: max-content;
  font-weight: 500;
}
#section10 .info2 > div .t2 {
  position: absolute;
  color: #666;
  font-size: 14px;
  line-height: 24px;
  top: 58px;
  width: 327px;
  font-weight: 200;
}
#section10 .info2 .c2 {
  left: 480px;
}
#section10 .info2 .c3 {
  top: 214px;
}
#section10 .info2 .c4 {
  left: 480px;
  top: 214px;
}
#section11 {
  background-color: #F5F5F5;
  height: 100%;
}
#section11 .tableCell {
  display: block;
  overflow: hidden;
}
#section11 .tableCell .container1 {
  width: 100%;
  height: 105%;
  box-sizing: content-box;
  overflow: scroll;
  overflow-x: hidden;
}
#section11 .tableCell .container1 .wa {
  margin: 0 auto;
  text-align: center;
  position: relative;
  height: 1150px;
}
#section11 .tableCell .container1 .wa .info1 {
  font-size: 24px;
  color: #333333;
  width: 960px;
  margin: 0 auto;
  padding: 60px;
  text-align: left;
  font-weight: 300;
}
#section11 .tableCell .container1 .wa .info2 {
  position: absolute;
  width: 720px;
  left: 50%;
  transform: translateX(-50%);
  top: 197px;
}
#section11 .tableCell .container1 .wa .info2 .use {
  display: inline-block;
  text-align: center;
  width: 180px;
  float: left;
  margin-right: 90px;
  margin-bottom: 60px;
}
#section11 .tableCell .container1 .wa .info2 .use img {
  margin: 0 auto;
}
#section11 .tableCell .container1 .wa .info2 .use .p1 {
  text-align: center;
  font-size: 18px;
  color: #333;
  margin-top: 16px;
  margin-bottom: 4px;
  font-weight: 500;
}
#section11 .tableCell .container1 .wa .info2 .use .p2 {
  text-align: center;
  font-size: 12px;
  color: #666;
  font-weight: 200;
}
#section11 .tableCell .container1 .wa .info2 .use4 {
  margin-left: 135px;
}
#section11 .tableCell .container1 .wa .info2 .use3 {
  margin-right: 0;
}
#section11 .tableCell .container1 .wa .footer {
  height: 400px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: #1A1A1A;
}
#section11 .tableCell .container1 .wa .footer .bgg {
  width: 476px;
  height: 400px;
  position: absolute;
  right: 50%;
  z-index: 0;
}
#section11 .tableCell .container1 .wa .footer .logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 34px;
  z-index: 100;
}
#section11 .tableCell .container1 .wa .footer .sele {
  display: inline-block;
  margin-top: 308px;
  z-index: 100;
  position: relative;
}
#section11 .tableCell .container1 .wa .footer .sele a {
  z-index: 100;
  font-size: 14px;
  color: #999999;
  float: left;
  margin: 13px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 100;
}
#section11 .tableCell .container1 .wa .footer .cpr {
  position: relative;
  font-size: 14px;
  color: #999999;
  z-index: 100;
  font-weight: 100;
}
.next {
  position: absolute;
  left: 50%;
  margin-left: -19px;
  top: 92%;
}
@keyframes zhuan {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes zhuan2 {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(-360deg);
  }
}
@keyframes bling {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.des {
  display: none;
}
.op0 {
  opacity: 0;
}
